@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Work+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy-bold";
  src: url(/Dubai/web/fonts/Gilroy-Bold.woff2);
}
@font-face {
  font-family: "Gilroy-semibold";
  src: url(/Dubai/web/fonts/Gilroy-Semibold.woff2);
}
@font-face {
  font-family: "Gilroy-semiboldItalic";
  src: url(/Dubai/web/fonts/Gilroy-SemiboldItalic.woff2);
}
@font-face {
  font-family: "Gilroy-regular";
  src: url(/Dubai/web/fonts/Gilroy-Regular.woff2);
}
:root {
  --line-heigth: 1.2em;
}

.html {
  scroll-behavior: smooth;
}

.title1 {
  color: white;
  font-family: "Gilroy-bold";
  font-size: 18px;
  line-height: var(--line-heigth);
}

.subtitle1 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 10px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
}

.title2 {
  display: inline;
  cursor: pointer;
  font-family: "Gilroy-semibold";
  font-size: 36px;
  line-height: var(--line-heigth);
  text-transform: uppercase;
  color: #FFFFFF;
  transition-duration: 0.3s;
}
.title2:hover {
  color: #FCD54C;
  transition-duration: 0.3s;
}

.submenu {
  display: none;
}
.submenu a {
  display: block;
  margin: 20px 0 20px 22px;
  font-family: "Gilroy-semibold";
  text-decoration: none;
  font-size: 14px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
  transition-duration: 0.3s;
}
.submenu a:hover {
  color: #FCD54C;
  transition-duration: 0.3s;
}

body {
  background-color: #272727;
}

.main__projects {
  margin-top: 45px;
}

.container__main {
  width: 288px;
  margin: 0px auto;
}

.header__visible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.header__invisible {
  position: fixed;
  background-color: #272727;
  display: none;
  z-index: 1;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 320px;
  height: 100%;
  overflow-y: scroll;
  padding: 0 25px;
}

.left__list {
  display: none;
}

.right__button {
  display: none;
}
.right__lang {
  display: none;
}
.right__phone {
  display: none;
}
.right__burger img {
  cursor: pointer;
  margin-top: 12px;
  width: 18px;
  height: 18px;
}

.stack__subtitle {
  opacity: 0.6;
}

.logo__rectangle {
  width: 30px;
  height: 49px;
  border: 2px solid #FCD54C;
  border-right: none;
}
.logo__stack {
  margin-top: -41px;
  margin-left: 12px;
}

.invisible__menu {
  margin: 52px 0 60px 23px;
}
.invisible__info {
  border-top: 1px solid #FCD54C;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invisible__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.banner__burger img {
  cursor: pointer;
  margin-top: 10px;
  width: 18px;
  height: 18px;
}
.banner__button {
  display: none;
}
.banner__lang {
  display: none;
}
.banner__phone {
  display: none;
}

.info__button {
  cursor: pointer;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 165px;
  height: 41px;
  background-color: #FCD54C;
  border: transparent;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14em;
  color: #000000;
  transition-duration: 0.3s;
}
.info__button:active {
  background-color: #000000;
  color: #FCD54C;
  transition-duration: 0.3s;
}
.info__phone {
  margin: 40px 0 40px 0;
}
.info__phone a {
  font-family: "Gilroy-semibold";
  text-decoration: none;
  font-size: 16px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
}
.info__lang {
  display: flex;
  width: 44px;
  justify-content: space-between;
  font-family: "Gilroy-semibold";
  font-size: 14px;
  line-height: var(--line-heigth);
  text-transform: uppercase;
  color: #929292;
  margin-bottom: 15px;
}

.arrow {
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 10px solid white;
  transform: rotate(180deg);
}

.box {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.menu__buy {
  margin-bottom: 20px;
}
.menu__blog {
  margin-bottom: 20px;
}
.menu__about {
  margin-bottom: 20px;
}

.buy__submenu a {
  margin-bottom: 15px;
}

.blog__box {
  width: 140px;
}
.blog__submenu a {
  margin-bottom: 15px;
}

.about__box {
  width: 150px;
}
.about__submenu a {
  margin-bottom: 15px;
}

.contact__box {
  width: 200px;
}
.contact__submenu {
  margin-bottom: 15px;
}

.lang__en {
  cursor: pointer;
  transition-duration: 0.3s;
}
.lang__en:hover {
  color: #FCD54C;
  transition-duration: 0.3s;
}
.lang__ru {
  cursor: pointer;
  transition-duration: 0.3s;
}
.lang__ru:hover {
  color: #FCD54C;
  transition-duration: 0.3s;
}

._active {
  color: #FCD54C;
}

.welcome__picture {
  margin-top: 28px;
  background: url(/Dubai/web/img/MOBILE/main320px1.png);
  width: 285px;
  height: 322px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.picture__top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__rectangle {
  border: 4px solid #FCD54C;
  border-right: none;
  width: 63px;
  height: 192px;
  margin-left: 7px;
}
.top__case {
  display: flex;
  flex-direction: column;
  margin-left: -44px;
  margin-top: 12px;
  cursor: pointer;
}
.top__social {
  display: none;
}

.case__subtitle {
  margin: 7px 0 7px 0;
  text-transform: uppercase;
}
.case__title {
  margin-bottom: 61px;
  width: 231px;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.27em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.case__title span {
  color: #FCD54C;
}
.case__book {
  display: flex;
  align-items: center;
  width: 135px;
  margin-top: -11px;
}

.book__text {
  color: #FFFFFF;
}
.book__arrow {
  margin-left: 2px;
  width: 10px;
  height: 9px;
  border: 1px solid #FFFFFF;
  opacity: 0.8;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.text {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: var(--line-heigth);
}

.bottom__slider {
  width: 80px;
  margin: 60px 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__prev {
  cursor: pointer;
  font-family: "Gilroy-bold";
  font-size: 10px;
  line-height: 2.4em;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  opacity: 0.5;
}
.slider__stick {
  height: 15px;
  width: 1px;
  background-color: white;
}
.slider__next {
  cursor: pointer;
  font-family: "Gilroy-bold";
  font-size: 10px;
  line-height: 2.4em;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  opacity: 0.5;
}

._chosen {
  opacity: 1;
}

.welcome__numbers {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FCD54C;
  color: #FFFFFF;
}

.title3 {
  font-family: "Gilroy-bold";
  font-size: 40px;
  line-height: var(--line-heigth);
  cursor: pointer;
}

.subtitle2 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 10px;
  line-height: 1.25em;
  margin-bottom: 6px;
}

.title4 {
  font-family: "Gilroy-bold";
  font-size: 24px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
}

.main__projects {
  display: flex;
  flex-direction: column;
}

.projects__up {
  display: flex;
  flex-direction: column;
}
.projects__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.up__title {
  margin-bottom: 20px;
}
.up__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

.slider__body {
  margin: 10px 0 20px 0;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
  color: #FFFFFF;
  width: 288px;
  position: relative;
  top: 55%;
  left: 0%;
  transition-duration: 0.4s;
}
.slider__pagination {
  display: flex;
  justify-content: space-between;
  width: 75px;
  margin: 0px auto;
}

.paragraph {
  cursor: pointer;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: var(--line-heigth);
}
.paragraph:hover {
  color: #FCD54C;
}

.navigation__viewAll {
  font-family: "Gilroy-semiboldItalic";
  font-size: 12px;
  line-height: var(--line-heigth);
  color: #929292;
  cursor: pointer;
}
.navigation__viewAll:hover {
  color: #FCD54C;
}

.cart {
  width: 140px;
  height: 186px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 15px 10px 10px 10px;
  margin-right: 7px;
}

.body__cartOne {
  background: url(/Dubai/web/img/MOBILE/villas.jpg);
  margin: 0 7px 10px 0;
}
.body__cartTwo {
  background-color: #FCD54C;
  color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.body__cartThree {
  background: url(/Dubai/web/img/MOBILE/houses.jpg);
}
.body__cartFour {
  background: url(/Dubai/web/img/MOBILE/villas2.jpg);
}
.body__cartFive {
  background: url(/Dubai/web/img/MOBILE/villas2.jpg);
}
.body__cartSix {
  background: url(/Dubai/web/img/MOBILE/villas2.jpg);
}
.body__cartSeven {
  background: url(/Dubai/web/img/MOBILE/villas.jpg);
}
.body__cartEight {
  background: url(/Dubai/web/img/MOBILE/houses.jpg);
}
.body__cartNine {
  background: url(/Dubai/web/img/MOBILE/villas.jpg);
}
.body__cartTen {
  background: url(/Dubai/web/img/MOBILE/houses.jpg);
}
.body__cartEleven {
  background: url(/Dubai/web/img/MOBILE/villas2.jpg);
}
.body__cartTwelve {
  background: url(/Dubai/web/img/MOBILE/houses.jpg);
}

.title5 {
  font-family: "Gilroy-bold";
  font-size: 18px;
  line-height: var(--line-heigth);
}

.cartTwo__subtitle {
  color: #272727;
}
.cartTwo__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 74px;
}
.cartTwo__link:hover {
  text-decoration: underline;
}

.link__info a {
  color: #272727;
}
.link__pointer {
  margin-top: 1px;
  height: 5px;
  width: 5px;
  border: 1px solid #272727;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.pagination__one {
  background-color: #FCD54C;
}
.pagination__two {
  background-color: #929292;
}
.pagination__three {
  background-color: #929292;
}

.round {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.main__expertise {
  margin: 80px 0 40px 0;
}

.expertise__title {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: var(--line-heigth);
  color: #FCD54C;
}
.expertise__subtitle {
  margin: 10px 0;
}
.expertise__text {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #E8E8E8;
}
.expertise__video {
  margin: 40px 0;
  background: url(/Dubai/web/img/MOBILE/mainVideo.jpg) 0 0/100% 100% no-repeat;
  width: 100%;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expertise__maryKay {
  border: 1px solid #FCD54C;
  margin-bottom: 40px;
  padding: 22px 25px;
  font-family: "Gilroy-regular";
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}
.expertise__maryKay span {
  color: #FCD54C;
}
.expertise__photos {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.one__image {
  width: 288px;
  height: 194px;
  background: url(/Dubai/web/img/MOBILE/main2.jpg);
}
.one__text {
  margin: 20px 0;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #E8E8E8;
}

.two__image {
  width: 288px;
  height: 194px;
  background: url(/Dubai/web/img/MOBILE/main3.jpg);
}
.two__text {
  margin-top: 20px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #E8E8E8;
}

.video__playround {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #FCD54C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.playround__triangle {
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000000;
  transform: rotate(90deg);
}

.main__contactUs {
  width: 100%;
  height: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/Dubai/web/img/MOBILE/contactUs.png);
  padding: 50px 0;
  margin: 40px 0;
}

.contactUs__subtitle {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: var(--line-heigth);
  text-align: center;
  color: #272727;
}
.contactUs__title {
  font-family: "Gilroy-bold";
  font-weight: 700;
  font-size: 50px;
  line-height: var(--line-heigth);
  text-align: center;
  color: #272727;
  margin: 19px 0 29px 0;
}
.contactUs__form {
  display: flex;
  align-items: flex-end;
}
.contactUs__form input {
  width: 192px;
  height: 41px;
  background-color: #FFFFFF;
  padding: 13px 14px;
  border: 1px solid transparent;
}
.contactUs__form input::-moz-placeholder {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: var(--line-heigth);
  color: #272727;
  opacity: 0.5;
}
.contactUs__form input::placeholder {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: var(--line-heigth);
  color: #272727;
  opacity: 0.5;
}
.contactUs__form button {
  width: 100px;
  height: 41.4px;
  background-color: #272727;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
  margin-left: -4px;
}
.contactUs__form button:active {
  background-color: #FFFFFF;
  color: #272727;
  border: 1px solid #272727;
}

.main__articles {
  overflow: hidden;
}

.top__subtitleLink a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #929292;
  width: 72px;
}

.mid__photoOne {
  background: url(/Dubai/web/img/MOBILE/main4.jpg);
  margin: 20px 0;
  width: 290px;
  height: 219px;
}
.mid__discover {
  border: 1px solid #FCD54C;
  padding: 30px 21px;
}
.mid__photoTwo {
  background: url(/Dubai/web/img/MOBILE/main5.jpg);
  margin: 20px 0 50px 0;
  width: 290px;
  height: 219px;
}

.photoOne__title {
  display: none;
}

.photoTwo__title {
  display: none;
}

.subtitleLink__text {
  font-family: "Gilroy-semibold";
  font-size: 8px;
  line-height: var(--line-heigth);
  display: flex;
  align-items: center;
}
.subtitleLink__arrow {
  cursor: pointer;
  height: 9px;
  width: 9px;
  border: 1px solid #929292;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.text2 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
}

.discover__title {
  margin: 13px 0;
  width: 150px;
}
.discover__text {
  color: #929292;
  margin-bottom: 33px;
}
.discover__reference a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 79px;
}

.reference__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #FCD54C;
}
.reference__arrow {
  cursor: pointer;
  height: 7px;
  width: 7px;
  border: 1px solid #FCD54C;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.articles__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 285px;
}
.articles__slider {
  display: flex;
  padding-top: 34px;
  position: relative;
  width: 288px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
  margin-bottom: 20px;
}
.articles__pagination {
  display: flex;
  justify-content: space-between;
  width: 75px;
  margin: 0px auto;
}

.slider-container.grab {
  cursor: grab;
}

.slider-container.grabbing {
  cursor: grabbing;
}

.slider__track {
  display: flex;
  width: 288px;
  transform: translate3d(0px, 0px, 0px);
  margin-bottom: 20px;
}

.track__kevin {
  display: none;
}

.slide {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid #FCD54C;
  padding: 0px 25px 20px 23px;
  width: 288px;
}

.paul__photo {
  background: url(/Dubai/web/img/MOBILE/Paul.jpg) 0 0/100% no-repeat;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  margin-top: -35px;
}
.paul__title {
  font-family: "Gilroy-bold";
  font-size: 25px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
  margin-top: -52px;
}
.paul__post {
  margin: 13px 0 8px 0;
}
.paul__post span {
  color: #FCD54C;
}
.paul__description {
  color: #929292;
}

.quotes {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 100px;
  color: #FCD54C;
  text-align: right;
  margin-top: -30px;
}

.robert__photo {
  background: url(/Dubai/web/img/MOBILE/Robert.jpg) 0 0/100% no-repeat;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  margin-top: -35px;
}
.robert__title {
  font-family: "Gilroy-bold";
  font-size: 25px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
  margin-top: -50px;
}
.robert__post {
  margin: 11px 0 7px 0;
}
.robert__post span {
  color: #FCD54C;
}
.robert__description {
  color: #929292;
}

.jack__photo {
  background: url(/Dubai/web/img/MOBILE/Paul.jpg) 0 0/100% no-repeat;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  margin-top: -35px;
}
.jack__title {
  font-family: "Gilroy-bold";
  font-size: 25px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
  margin-top: -52px;
}
.jack__post {
  margin: 13px 0 8px 0;
}
.jack__post span {
  color: #FCD54C;
}
.jack__description {
  color: #929292;
}

.kevin__photo {
  background: url(/Dubai/web/img/MOBILE/Paul.jpg) 0 0/100% no-repeat;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  margin-top: -35px;
}
.kevin__post {
  margin: 13px 0 8px 0;
}
.kevin__post span {
  color: #FCD54C;
}
.kevin__title {
  font-family: "Gilroy-bold";
  font-size: 25px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
  margin-top: -52px;
}
.kevin__description {
  color: #929292;
}

.pagination__first {
  background-color: #FCD54C;
}
.pagination__second {
  background-color: #929292;
}
.pagination__third {
  background-color: #929292;
}

.main__faq {
  margin: 50px 0;
}

.faq__title {
  margin-bottom: 20px;
}
.faq__questions {
  display: flex;
  flex-direction: column;
}

.questions__first {
  cursor: pointer;
}
.questions__second {
  cursor: pointer;
}
.questions__third {
  cursor: pointer;
}
.questions__fourth {
  cursor: pointer;
}
.questions__fifth {
  cursor: pointer;
}

.first__visible {
  height: 63px;
  border: 1px solid #929292;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visible__text {
  width: 243px;
  padding: 22px 0;
}

.visibleBox {
  border: 1px solid #929292;
  border-left: transparent;
  border-right: transparent;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invisibleBox {
  display: none;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 130%;
  color: #E8E8E8;
  padding: 7px;
}

.arrow2 {
  height: 12px;
  width: 12px;
  border: 1px solid #FCD54C;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
  margin-right: 2.7px;
}

.text3 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #FFFFFF;
}

.main__footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 0;
}
.footer__top-container {
  width: 288px;
  margin: 0px auto;
}
.footer__mid {
  margin-bottom: 42px;
}
.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer__bottom-container {
  width: 216px;
  margin: 0px auto;
  display: flex;
  flex-direction: column-reverse;
}

.logotype__rectangle {
  width: 40px;
  height: 63px;
  border: 2px solid #FCD54C;
  border-right: none;
}
.logotype__complex {
  margin-top: -57px;
  margin-left: 14px;
}

.complex__title {
  font-family: "Gilroy-bold";
  font-size: 28px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
}
.complex__subtitle {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: var(--line-heigth);
  color: #FFFFFF;
  opacity: 0.6;
}

.down__button {
  cursor: pointer;
  margin-bottom: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 284px;
  height: 67px;
  background-color: #FCD54C;
  border: transparent;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  transition-duration: 0.3s;
}
.down__button:active {
  background-color: #000000;
  color: #FCD54C;
  transition-duration: 0.3s;
}

.info__email {
  margin: 13px 0 52px 0;
}
.info__email a {
  font-family: "Gilroy-regular";
  font-size: 18px;
  line-height: 21px;
  color: #E8E8E8;
  transition-duration: 0.3s;
}
.info__email a:hover {
  color: #FCD54C;
  transition-duration: 0.3s;
}

.contextMenu__buy {
  padding: 15px 0;
}
.contextMenu__services {
  padding: 15px 0;
}
.contextMenu__information {
  padding: 15px 0;
}
.contextMenu__about {
  padding: 15px 0;
}

.visibleMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.buy__invisible {
  display: none;
}

.visible__title {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E8E8E8;
  width: 260px;
}
.visible__boom {
  height: 9px;
  width: 9px;
  border: 1px solid #929292;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  margin-right: 2.7px;
}

.invisible__submenu {
  margin: 15px 0 15px 20px;
}
.invisible__submenu a {
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #E8E8E8;
}
.invisible__submenu a:hover {
  color: #FCD54C;
}

.services__invisible {
  display: none;
}

.information__invisible {
  display: none;
}

.about__invisible {
  display: none;
}

.address__title {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E8E8E8;
  margin: 30px 0 19px 0;
}
.address__subtitle {
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #E8E8E8;
}

.bottom__social {
  margin: 24px 0 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom__info {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #E8E8E8;
  text-align: center;
  margin-bottom: 21px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.modal__window {
  width: 288px;
  margin: 0px auto;
}

.modal-container {
  width: 100%;
  background: #fff;
}

.window__close {
  margin-left: 300px;
  transform: translate(0px, 55px);
}
.window__close img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.window__title {
  font-family: "Gilroy-bold";
  font-size: 30px;
  line-height: var(--line-heigth);
  text-align: center;
  color: #000000;
  margin: 20px 0 15px 0;
}
.window__subtitle {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-heigth);
  text-align: center;
  color: #000000;
}
.window__input {
  margin: 40px 10px;
}
.window__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.window__button button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  background-color: #FCD54C;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  transition-duration: 0.3s;
}
.window__button button:active {
  background-color: #000000;
  color: #FCD54C;
  transition-duration: 0.3s;
}

.input__name {
  width: 268px;
  padding: 7px 0;
  border-bottom: 1px solid #929292;
  margin-bottom: 5px;
  font-size: 16px;
}
.input__name::-moz-placeholder {
  font-family: "Gilroy-regular";
  font-size: 16px;
  line-height: var(--line-heigth);
  color: #000000;
}
.input__name::placeholder {
  font-family: "Gilroy-regular";
  font-size: 16px;
  line-height: var(--line-heigth);
  color: #000000;
}
.input__phone {
  width: 268px;
  padding: 7px 0;
  border-bottom: 1px solid #929292;
  font-size: 16px;
}
.input__phone::-moz-placeholder {
  font-family: "Gilroy-regular";
  font-size: 16px;
  line-height: var(--line-heigth);
  color: #000000;
}
.input__phone::placeholder {
  font-family: "Gilroy-regular";
  font-size: 16px;
  line-height: var(--line-heigth);
  color: #000000;
}

@media (min-width: 768px) {
  .container__main {
    width: 700px;
  }
  .header__visible {
    display: flex;
    align-items: center;
  }
  .header__invisible {
    width: 768px;
    overflow-y: auto;
  }
  .visible__right {
    display: flex;
    justify-content: space-between;
    width: 520px;
  }
  .right__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 142px;
    height: 35px;
    margin-left: 90px;
    margin-top: 15px;
    background-color: #FCD54C;
    border: transparent;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 1.14em;
    color: #000000;
    transition-duration: 0.3s;
  }
  .right__button:active {
    background-color: #000000;
    color: #FCD54C;
    transition-duration: 0.3s;
  }
  .right__lang {
    display: flex;
    align-items: center;
    width: 44px;
    justify-content: space-between;
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: var(--line-heigth);
    text-transform: uppercase;
    color: #929292;
    margin-top: 15px;
  }
  .right__phone {
    display: flex;
    margin-top: 22px;
  }
  .right__phone a {
    font-family: "Gilroy-semibold";
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .right__burger {
    display: block;
    margin-top: 10px;
  }
  .invisible__menu {
    margin: 120px 0 78px 220px;
  }
  .invisible__info {
    display: none;
  }
  .invisible__banner {
    display: flex;
    align-items: center;
    margin-top: 16px;
    width: 700px;
  }
  .stack__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .stack__subtitle {
    opacity: 0.6;
  }
  .banner__logo {
    margin-right: 20px;
  }
  .banner__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 142px;
    height: 35px;
    margin-left: 90px;
    margin-top: 15px;
    background-color: #FCD54C;
    border: transparent;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 1.14em;
    color: #000000;
    transition-duration: 0.3s;
  }
  .banner__button:active {
    background-color: #000000;
    color: #FCD54C;
    transition-duration: 0.3s;
  }
  .banner__lang {
    display: flex;
    align-items: center;
    width: 44px;
    justify-content: space-between;
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: var(--line-heigth);
    text-transform: uppercase;
    color: #929292;
    margin-top: 15px;
  }
  .banner__phone {
    display: block;
    margin-top: 15px;
  }
  .banner__phone a {
    font-family: "Gilroy-semibold";
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .logo__rectangle {
    width: 36px;
    height: 59px;
    border: 2px solid #FCD54C;
    border-right: none;
  }
  .logo__stack {
    margin-top: -49px;
    margin-left: 12px;
  }
  .welcome__picture {
    margin-top: 21px;
    background: url(/Dubai/web/img/768px/main768px1.png) 0 0/100%;
    width: 100%;
    height: 380px;
  }
  .picture__top {
    justify-content: flex-start;
  }
  .top-container {
    margin: 40px 0 70px 30px;
    width: 690px;
  }
  .top__rectangle {
    width: 74px;
    height: 229px;
  }
  .top__case {
    height: 120px;
    margin: 0 0 70px -230px;
  }
  .top__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-top: -20px;
    margin-right: 15px;
  }
  .social__facebook {
    background: url(/Dubai/web/img/768px/Facebook.svg) contain no-repeat;
    transition-duration: 0.3s;
  }
  .social__facebook:hover {
    transform: scale(140%);
    transition-duration: 0.3s;
  }
  .social__twitter {
    background: url(/Dubai/web/img/768px/Twitter.svg) contain no-repeat;
    transition-duration: 0.3s;
  }
  .social__twitter:hover {
    transform: scale(140%);
    transition-duration: 0.3s;
  }
  .social__youtube {
    background: url(/Dubai/web/img/768px/youtube.svg) contain no-repeat;
    transition-duration: 0.3s;
  }
  .social__youtube:hover {
    transform: scale(140%);
    transition-duration: 0.3s;
  }
  .social__insta {
    background: url(/Dubai/web/img/768px/Instagram.svg) contain no-repeat;
    transition-duration: 0.3s;
  }
  .social__insta:hover {
    transform: scale(140%);
    transition-duration: 0.3s;
  }
  .social__linkedIn {
    background: url(/Dubai/web/img/768px/Linkedin.svg) contain no-repeat;
    transition-duration: 0.3s;
  }
  .social__linkedIn:hover {
    transform: scale(140%);
    transition-duration: 0.3s;
  }
  .case__subtitle {
    margin: 34px 0 3px 0;
    font-size: 10px;
    line-height: var(--line-heigth);
  }
  .case__title {
    margin-bottom: 8px;
    width: 421px;
    font-size: 50px;
    line-height: 1.28em;
  }
  .case__title span {
    color: #FCD54C;
  }
  .case__book {
    width: 170px;
    margin-top: 8px;
  }
  .book__text {
    font-size: 16px;
    line-height: 19px;
  }
  .book__arrow {
    margin-left: 2px;
    width: 10px;
    height: 9px;
  }
  .bottom__slider {
    margin: 0px 0 0 30px;
  }
  .welcome__numbers {
    background-color: #272727;
    margin-top: -67px;
    margin-left: 169px;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    width: 540px;
    height: 70px;
  }
  .title3 {
    font-family: "Gilroy-bold";
    font-size: 40px;
    line-height: 50px;
    margin-right: 10px;
  }
  .title4 {
    font-family: "Gilroy-bold";
    font-size: 30px;
    line-height: 37px;
  }
  .subtitle2 {
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px;
    margin-bottom: 0;
  }
  .numbers__one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
  }
  .numbers__two {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .numbers__three {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main__projects {
    width: 695px;
  }
  .projects__up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  .up__title {
    margin-bottom: 0;
  }
  .up__navigation {
    width: 290px;
  }
  .slider__body {
    margin-bottom: 20px;
    grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 695px;
  }
  .cart {
    width: 165px;
    height: 220px;
    padding: 17px 24px 13px 11px;
    margin-right: 11px;
  }
  .subtitle1 {
    font-size: 12px;
  }
  .body__cartOne {
    background: url(/Dubai/web/img/768px/Villas.jpg);
    margin-bottom: 0px;
  }
  .body__cartTwo {
    font-size: 12px;
    line-height: 14px;
  }
  .body__cartThree {
    background: url(/Dubai/web/img/768px/Houses.jpg);
  }
  .body__cartFour {
    background: url(/Dubai/web/img/768px/Villas2.jpg);
  }
  .body__cartFive {
    background: url(/Dubai/web/img/768px/Villas.jpg);
  }
  .body__cartSix {
    background: url(/Dubai/web/img/768px/Villas2.jpg);
  }
  .body__cartSeven {
    background: url(/Dubai/web/img/768px/Villas.jpg);
  }
  .body__cartEight {
    background: url(/Dubai/web/img/768px/Houses.jpg);
  }
  .body__cartNine {
    background: url(/Dubai/web/img/768px/Villas.jpg);
  }
  .body__cartTen {
    background: url(/Dubai/web/img/768px/Houses.jpg);
  }
  .body__cartEleven {
    background: url(/Dubai/web/img/768px/Villas2.jpg);
  }
  .body__cartTwelve {
    background: url(/Dubai/web/img/768px/Houses.jpg);
  }
  .cartTwo__subtitle {
    color: #272727;
  }
  .main__expertise {
    margin: 80px 0 70px 0;
  }
  .expertise__title {
    font-size: 16px;
  }
  .expertise__subtitle {
    margin: 14px 0 23px 0;
    width: 450px;
  }
  .expertise__video {
    margin: 70px 0;
    background: url(/Dubai/web/img/768px/Video.jpg) 0 0/100% 100% no-repeat;
    height: 394px;
  }
  .expertise__maryKay {
    margin-bottom: 70px;
    padding: 37px 60px;
    font-size: 18px;
  }
  .expertise__photos {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .photos__one {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .one__image {
    width: 328px;
    height: 194px;
    background: url(/Dubai/web/img/768px/main2.jpg);
  }
  .one__text {
    margin-top: 30px;
  }
  .two__image {
    width: 328px;
    height: 194px;
    background: url(/Dubai/web/img/768px/main3.jpg);
  }
  .two__text {
    margin-top: 30px;
  }
  .video__playround {
    height: 50px;
    width: 50px;
  }
  .playround__triangle {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #000000;
  }
  .main__contactUs {
    height: 255px;
    background: url(/Dubai/web/img/768px/ContactUs.png);
    padding: 50px 0 61px 0;
    margin: 70px 0;
  }
  .contactUs__title {
    font-size: 70px;
    line-height: 87px;
    margin: 0px;
  }
  .contactUs__form {
    margin-top: 7px;
  }
  .contactUs__form input {
    width: 286px;
    height: 41px;
    padding: 13px 28px;
  }
  .contactUs__form button {
    width: 165px;
    height: 41.4px;
  }
  .articles__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 698px;
  }
  .articles__mid {
    display: flex;
    justify-content: space-between;
    margin: 38px 0 82px 0;
  }
  .top__subtitleLink a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #929292;
    width: 105px;
  }
  .mid__photoOne {
    margin: 0px;
    background: url(/Dubai/web/img/768px/main4.jpg);
    width: 208px;
    height: 220px;
  }
  .mid__discover {
    padding: 30px;
    height: 220px;
  }
  .mid__photoTwo {
    margin: 0px;
    background: url(/Dubai/web/img/768px/main5.jpg);
    width: 208px;
    height: 220px;
  }
  .subtitleLink__text {
    font-size: 12px;
    line-height: 15px;
  }
  .discover__text {
    width: 151px;
    margin-bottom: 19px;
  }
  .articles__slider {
    margin-bottom: 36px;
  }
  .slider__track {
    width: 690px;
  }
  .slide {
    padding: 50px 24px 0px 30px;
    width: 333px;
    margin-right: 32px;
    height: 200px;
  }
  .paul__photo {
    margin-top: -88px;
  }
  .robert__photo {
    margin-top: -88px;
  }
  .jack__photo {
    margin-top: -88px;
  }
  .kevin__photo {
    margin-top: -88px;
  }
  .quotes {
    color: #FCD54C;
    text-align: right;
    margin-top: -25px;
  }
  .track__kevin {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border: 1px solid #FCD54C;
    padding: 50px 25px 15px 28px;
    width: 333px;
    margin-right: 32px;
  }
  .track:last-child {
    margin-right: 0px;
  }
  .round {
    cursor: pointer;
  }
  .main__faq {
    margin: 70px 0;
  }
  .faq__title {
    margin-bottom: 40px;
  }
  .text3 {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }
  .visible__text {
    width: 680px;
  }
  .invisibleBox {
    padding: 15px 7px;
  }
  .footer__top {
    justify-content: center;
    margin-bottom: 40px;
  }
  .footer__top-container {
    width: 700px;
  }
  .footer__bottom-container {
    width: 700px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .visibleMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3A3A3A;
    padding-bottom: 15px;
    cursor: pointer;
  }
  .mid__down {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .down__button {
    width: 165px;
    height: 41px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0px;
  }
  .info__email {
    margin-bottom: 0px;
  }
  .visible__title {
    width: 680px;
  }
  .address__title {
    margin: 15px 0 19px 0;
  }
  .bottom__social {
    margin: 34px 0 41px 0;
    width: 196px;
  }
  .bottom__info {
    margin: 34px 0 41px 0;
  }
  .modal {
    display: none;
  }
  .modal__window {
    width: 400px;
  }
  .modal-container {
    width: 700px;
  }
  .window__close {
    margin-left: 500px;
    transform: translate(0px, 10px);
  }
  .window__title {
    font-size: 40px;
    margin: 0px 0 15px 0;
  }
  .window__subtitle {
    font-size: 18px;
  }
  .window__input {
    margin: 40px 0px;
  }
  .window__button button {
    width: 190px;
    height: 50px;
  }
  .input__name {
    width: 400px;
    padding: 12px 0;
  }
  .input__phone {
    width: 400px;
    padding: 12px 0;
  }
}
@media (min-width: 1920px) {
  .container__main {
    width: 1802px;
    margin: 0px auto;
    overflow: hidden;
  }
  .header__visible {
    display: flex;
    align-items: center;
  }
  .header__invisible {
    display: none;
  }
  .visible__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
  }
  .visible__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left__list {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .right__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 142px;
    height: 35px;
    margin-left: 90px;
    margin-top: 0px;
    background-color: #FCD54C;
    border: transparent;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 1.14em;
    color: #000000;
    transition-duration: 0.3s;
  }
  .right__button:active {
    background-color: #000000;
    color: #FCD54C;
    transition-duration: 0.3s;
  }
  .right__lang {
    display: flex;
    align-items: center;
    width: 44px;
    justify-content: space-between;
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: var(--line-heigth);
    text-transform: uppercase;
    color: #929292;
    margin-top: 0px;
  }
  .right__phone {
    display: block;
    margin-top: 0px;
  }
  .right__phone a {
    font-family: "Gilroy-semibold";
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .right__burger {
    display: none;
  }
  .title1 {
    font-size: 28px;
  }
  .subtitle1 {
    font-size: 11px;
  }
  .list__buy {
    position: relative;
    padding-bottom: 5px;
    top: 0;
    left: 0;
  }
  .list__buy:hover .buy__visual {
    transition-duration: 0.3s;
    color: #FCD54C;
    border-bottom: 3px solid #FCD54C;
  }
  .list__buy:hover .buy__unseen {
    display: flex;
  }
  .list__blog {
    position: relative;
    top: 0;
    left: 0;
  }
  .list__blog:hover .blog__visual {
    transition-duration: 0.3s;
    color: #FCD54C;
    border-bottom: 3px solid #FCD54C;
  }
  .list__blog:hover .blog__unseen {
    display: flex;
  }
  .list__about {
    position: relative;
    top: 0;
    left: 0;
  }
  .list__about:hover .about__visual {
    transition-duration: 0.3s;
    color: #FCD54C;
    border-bottom: 3px solid #FCD54C;
  }
  .list__about:hover .about__unseen {
    display: flex;
  }
  .list__contact {
    position: relative;
    top: 0;
    left: 0;
  }
  .list__contact:hover .contact__visual {
    transition-duration: 0.3s;
    color: #FCD54C;
    border-bottom: 3px solid #FCD54C;
  }
  .list__contact:hover .contact__unseen {
    display: flex;
  }
  .buy__visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition-duration: 0.3s;
  }
  .buy__unseen {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 247px;
    height: 113px;
    left: 0px;
    top: 25px;
    background: #272727;
    border: 1px solid #979797;
    transition-duration: 0.3s;
  }
  .buy__unseen a {
    cursor: pointer;
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: var(--line-heigth);
    color: #FFFFFF;
    padding: 10px 0 10px 20px;
  }
  .buy__unseen a:hover {
    background: #FCD54C;
    color: #000000;
    transition-duration: 0.3s;
  }
  .blog__visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition-duration: 0.3s;
  }
  .blog__unseen {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 247px;
    height: 113px;
    left: 0px;
    top: 25px;
    background: #272727;
    border: 1px solid #979797;
    transition-duration: 0.3s;
  }
  .blog__unseen a {
    cursor: pointer;
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: var(--line-heigth);
    color: #FFFFFF;
    padding: 10px 0 10px 20px;
  }
  .blog__unseen a:hover {
    background: #FCD54C;
    color: #000000;
    transition-duration: 0.3s;
  }
  .about__visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition-duration: 0.3s;
  }
  .about__unseen {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 247px;
    height: 113px;
    left: 0px;
    top: 25px;
    background: #272727;
    border: 1px solid #979797;
    transition-duration: 0.3s;
  }
  .about__unseen a {
    cursor: pointer;
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: var(--line-heigth);
    color: #FFFFFF;
    padding: 10px 0 10px 20px;
  }
  .about__unseen a:hover {
    background: #FCD54C;
    color: #000000;
    transition-duration: 0.3s;
  }
  .contact__visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition-duration: 0.3s;
  }
  .contact__unseen {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 247px;
    height: 113px;
    left: 0px;
    top: 25px;
    background: #272727;
    border: 1px solid #979797;
    transition-duration: 0.3s;
  }
  .contact__unseen a {
    cursor: pointer;
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: var(--line-heigth);
    color: #FFFFFF;
    padding: 10px 0 10px 20px;
  }
  .contact__unseen a:hover {
    background: #FCD54C;
    color: #000000;
    transition-duration: 0.3s;
  }
  .visual__title {
    font-family: "Gilroy-semibold";
    font-size: 14px;
    line-height: var(--line-heigth);
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .visual__arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid white;
    transform: rotate(180deg);
  }
  .stack__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .stack__subtitle {
    opacity: 0.6;
  }
  .welcome__picture {
    margin-top: 26px;
    background: url(/Dubai/web/img/768px/main768px1.png) 0 0/100%;
    height: 970px;
  }
  .top-container {
    margin: 310px 0px 310px 356px;
    width: 1406px;
  }
  .top__rectangle {
    width: 124px;
    height: 383px;
  }
  .top__case {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin: 0 0 70px -730px;
  }
  .top__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-top: -270px;
    margin-right: -20px;
  }
  .social__facebook {
    background: url(/Dubai/web/img/1920px/Facebook.svg) contain no-repeat;
  }
  .social__twitter {
    background: url(/Dubai/web/img/1920px/Twitter.svg) contain no-repeat;
  }
  .social__youtube {
    background: url(/Dubai/web/img/1920px/youtube.svg) contain no-repeat;
  }
  .social__insta {
    background: url(/Dubai/web/img/1920px/Instagram.svg) contain no-repeat;
  }
  .social__linkedIn {
    background: url(/Dubai/web/img/1920px/Linkedin.svg) contain no-repeat;
  }
  .case__subtitle {
    margin: 44px 0 22px 0;
    font-size: 16px;
  }
  .case__title {
    margin-bottom: 30px;
    width: 714px;
    font-size: 96px;
    line-height: 1.04em;
  }
  .case__title span {
    color: #FCD54C;
  }
  .case__book {
    display: flex;
    align-items: center;
    width: 217px;
    margin-top: 0px;
  }
  .book__text {
    font-size: 20px;
    line-height: var(--line-heigth);
  }
  .book__arrow {
    margin-left: 2px;
    width: 15px;
    height: 15px;
    border: 1px solid #FFFFFF;
    opacity: 0.8;
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
  }
  .welcome__numbers {
    background-color: #272727;
    margin-top: -145px;
    margin-left: 800px;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    width: 1081px;
    height: 150px;
  }
  .bottom__slider {
    width: 166px;
    margin: -90px 0 0px 500px;
  }
  .slider__prev {
    font-size: 20px;
    line-height: var(--line-heigth);
  }
  .slider__stick {
    height: 20px;
  }
  .slider__next {
    font-size: 20px;
    line-height: var(--line-heigth);
  }
  .title3 {
    font-family: "Gilroy-bold";
    font-size: 60px;
    line-height: 24px;
  }
  .numbers__one {
    margin-left: 0px;
    margin-top: 10px;
  }
  .one__title {
    margin-right: 37px;
  }
  .one__subtitle {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
  }
  .two__title {
    margin-right: 37px;
  }
  .two__subtitle {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
  }
  .three__title {
    margin-right: 37px;
  }
  .three__subtitle {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
  }
  .main__projects {
    width: 1802px;
    margin-top: 124px;
  }
  .projects__up {
    justify-content: space-evenly;
    margin-bottom: 78px;
  }
  .up__navigation {
    width: 400px;
  }
  .title4 {
    font-size: 48px;
    line-height: 1.43em;
  }
  .paragraph {
    font-size: 16px;
    line-height: 1.31em;
  }
  .navigation__viewAll a {
    font-size: 16px;
    line-height: 1.31em;
  }
  .slider__body {
    margin-bottom: 100px;
    width: 1802px;
  }
  .cart {
    width: 430px;
    height: 572px;
    padding: 46px 61px 44px 30px;
    margin-right: 30px;
  }
  .body__cartOne {
    background: url(/Dubai/web/img/1920px/Villas.jpg);
  }
  .body__cartTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .body__cartThree {
    background: url(/Dubai/web/img/1920px/Houses.jpg);
  }
  .body__cartFour {
    background: url(/Dubai/web/img/1920px/Villas2.jpg);
  }
  .body__cartFive {
    background: url(/Dubai/web/img/1920px/Villas.jpg);
  }
  .body__cartSix {
    background: url(/Dubai/web/img/1920px/Villas2.jpg);
  }
  .body__cartSeven {
    background: url(/Dubai/web/img/1920px/Villas.jpg);
  }
  .body__cartEight {
    background: url(/Dubai/web/img/1920px/Houses.jpg);
  }
  .body__cartNine {
    background: url(/Dubai/web/img/1920px/Villas.jpg);
  }
  .body__cartTen {
    background: url(/Dubai/web/img/1920px/Houses.jpg);
  }
  .body__cartEleven {
    background: url(/Dubai/web/img/1920px/Villas2.jpg);
  }
  .body__cartTwelve {
    background: url(/Dubai/web/img/1920px/Houses.jpg);
  }
  .title5 {
    font-size: 32px;
    line-height: 1.4em;
  }
  .cartTwo__subtitle {
    font-size: 22px;
  }
  .cartTwo__link {
    width: 145px;
  }
  .cartTwo__link:hover {
    text-decoration: underline;
  }
  .text {
    font-size: 20px;
  }
  .link__pointer {
    margin-top: 1px;
    height: 15px;
    width: 15px;
  }
  .main__expertise {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .expertise__title {
    width: 730px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
  }
  .expertise__subtitle {
    margin: 40px 0 33px 0;
    width: 730px;
    font-size: 70px;
    line-height: 69px;
  }
  .expertise__text {
    width: 730px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .expertise__video {
    margin: 0px auto;
    background: url(/Dubai/web/img/768px/Video.jpg) 0 0/100% 100% no-repeat;
    height: 921.08px;
    width: 1800px;
  }
  .expertise__photos {
    margin: 0 345px;
  }
  .expertise__maryKay {
    width: 1110px;
    height: 313px;
    margin: 120px 345px 65px 345px;
    padding: 70px 95px;
    font-size: 30px;
  }
  .video__playround {
    width: 121.88px;
    height: 121.88px;
  }
  .playround__triangle {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #000000;
    margin-left: 5px;
  }
  .photos__one {
    margin-right: 23px;
  }
  .photos__two {
    margin-bottom: 115px;
  }
  .one__image {
    width: 543px;
    height: 312px;
    background: url(/Dubai/web/img/1920px/main2.jpg);
  }
  .one__text {
    margin-top: 70px;
    font-size: 18px;
  }
  .two__image {
    width: 543px;
    height: 312px;
    background: url(/Dubai/web/img/1920px/main3.jpg);
  }
  .two__text {
    margin-top: 70px;
    font-size: 18px;
  }
  .main__contactUs {
    width: 1800px;
    height: 400px;
    background: url(/Dubai/web/img/1920px/ContactUs.png);
    padding: 87px 593px 85px 596px;
    margin: 0px auto;
  }
  .contactUs__subtitle {
    font-size: 18px;
    line-height: 160%;
  }
  .contactUs__title {
    font-size: 120px;
    line-height: 69px;
    margin: 15px 0 54px 0;
  }
  .contactUs__form {
    margin-top: 7px;
  }
  .contactUs__form input {
    width: 307px;
    height: 61px;
    padding: 25px 42px;
  }
  .contactUs__form button {
    width: 165px;
    height: 61.4px;
  }
  .text2 {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    color: #FFFFFF;
  }
  .main__articles {
    margin: 140px 345px 170px 345px;
    overflow: visible;
  }
  .articles__top {
    width: 1100px;
  }
  .articles__mid {
    margin: 90px 0 170px 0;
  }
  .top__subtitleLink a {
    width: 154px;
    padding-bottom: 15px;
  }
  .top__title {
    font-size: 70px;
    line-height: var(--line-heigth);
  }
  .subtitleLink__text {
    font-size: 16px;
    line-height: 21px;
  }
  .subtitleLink__arrow {
    height: 15px;
    width: 15px;
  }
  .mid__photoOne {
    display: flex;
    align-items: flex-end;
    background: url(/Dubai/web/img/1920px/main4.jpg);
    width: 350px;
    height: 352px;
  }
  .mid__discover {
    padding: 41px 36px 29px 35px;
    width: 351px;
    height: 352px;
  }
  .mid__photoTwo {
    display: flex;
    align-items: flex-end;
    background: url(/Dubai/web/img/1920px/main5.jpg);
    width: 350px;
    height: 352px;
  }
  .photoOne__title {
    display: block;
    font-family: "Gilroy-bold";
    font-size: 25px;
    line-height: 1.4em;
    color: #FFFFFF;
    margin: 0 0 53px 38px;
  }
  .photoTwo__title {
    display: block;
    font-family: "Gilroy-bold";
    font-size: 25px;
    line-height: 1.4em;
    color: #FFFFFF;
    margin: 0 0 53px 38px;
  }
  .discover__title {
    font-size: 25px;
    line-height: 1.4em;
    margin: 15px 0 28px 0;
  }
  .discover__text {
    color: #929292;
    margin-bottom: 45px;
    width: 280px;
  }
  .discover__reference a {
    width: 112px;
  }
  .reference__text {
    font-size: 16px;
    line-height: 1.5em;
  }
  .reference__arrow {
    height: 15px;
    width: 15px;
  }
  .articles__slider {
    margin-bottom: 44px;
  }
  .slider__track {
    width: 1112px;
  }
  .track__paul {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  .track__robert {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  .track__jack {
    transform: translate3d(0px, -30px, 0px);
    opacity: 0.5;
  }
  .track__kevin {
    padding: 104px 20px 23px 30px;
    width: 525px;
    height: 311px;
    margin-right: 61px;
    transform: translate3d(0px, -30px, 0px);
    opacity: 0.5;
  }
  .slide {
    padding: 104px 20px 23px 30px;
    width: 525px;
    height: 311px;
    margin-right: 61px;
  }
  .quotes {
    font-size: 120px;
    margin-top: -30px;
  }
  .paul__photo {
    background: url(/Dubai/web/img/1920px/Paul.jpg) 0 0/100% no-repeat;
    margin-top: -155px;
    width: 112px;
    height: 112px;
  }
  .paul__title {
    margin-top: -45px;
  }
  .paul__post {
    margin: 19px 0 34px 0;
  }
  .paul__post span {
    color: #FCD54C;
  }
  .paul__description {
    color: #929292;
  }
  .robert__photo {
    background: url(/Dubai/web/img/1920px/Robert.jpg) 0 0/100% no-repeat;
    margin-top: -155px;
    width: 112px;
    height: 112px;
  }
  .robert__title {
    margin-top: -45px;
  }
  .robert__post {
    margin: 19px 0 34px 0;
  }
  .robert__post span {
    color: #FCD54C;
  }
  .robert__description {
    color: #929292;
  }
  .jack__photo {
    background: url(/Dubai/web/img/1920px/Paul.jpg) 0 0/100% no-repeat;
    margin-top: -155px;
    width: 112px;
    height: 112px;
  }
  .jack__title {
    margin-top: -45px;
  }
  .jack__post {
    margin: 19px 0 34px 0;
  }
  .jack__post span {
    color: #FCD54C;
  }
  .jack__description {
    color: #929292;
  }
  .kevin__photo {
    background: url(/Dubai/web/img/1920px/Paul.jpg) 0 0/100% no-repeat;
    margin-top: -155px;
    width: 112px;
    height: 112px;
  }
  .kevin__title {
    margin-top: -45px;
  }
  .kevin__post {
    margin: 19px 0 34px 0;
  }
  .kevin__post span {
    color: #FCD54C;
  }
  .kevin__description {
    color: #929292;
  }
  .main__faq {
    margin: 110px 345px 122px 345px;
  }
  .faq__title {
    margin-bottom: 30px;
  }
  .text3 {
    font-size: 18px;
  }
  .visible__text {
    width: 1108px;
    padding: 20px 0;
  }
  .invisibleBox {
    font-size: 14px;
    line-height: 160%;
    padding: 33px 65px 40px 65px;
  }
  .footer__top {
    margin: 70px 0 51px 0;
  }
  .footer__top-container {
    width: 1785px;
  }
  .footer__mid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 95px;
  }
  .footer__bottom-container {
    width: 1785px;
    flex-direction: row;
  }
  .mid__contextMenu {
    display: flex;
    justify-content: space-between;
  }
  .mid__down {
    flex-direction: column;
    align-items: flex-start;
  }
  .visible__title {
    width: 174px;
  }
  .visible__boom {
    display: none;
  }
  .visibleMenu {
    border-bottom: none;
    margin-bottom: 40px;
    padding-bottom: 0px;
    cursor: none;
  }
  .invisible__submenu {
    margin: 20px 0;
  }
  .invisible__submenu a {
    font-size: 18px;
    line-height: var(--line-heigth);
  }
  .buy__invisible {
    display: block;
    margin-right: 184px;
  }
  .services__invisible {
    display: block;
    margin-right: 184px;
  }
  .information__invisible {
    display: block;
    margin-right: 184px;
  }
  .about__invisible {
    display: block;
    margin-right: 184px;
  }
  .address__title {
    margin-top: 15px;
  }
  .address__subtitle {
    margin: 40px 0 23px 0;
  }
  .info__email {
    margin-bottom: 78px;
  }
  .bottom__social {
    margin: 35px 0 38px 0;
    width: 180px;
  }
  .bottom__info {
    margin: 35px 0 38px 0;
    font-size: 18px;
    line-height: 1.6em;
  }
  .modal__window {
    width: 449px;
  }
  .modal-container {
    width: 730px;
    height: 445px;
  }
  .window__close {
    margin-left: 700px;
    transform: translate(0px, -50px);
  }
  .window__title {
    font-size: 48px;
    margin: 30px 0 7px 0;
  }
  .window__subtitle {
    font-size: 20px;
  }
  .window__input {
    margin: 40px 10px;
  }
  .window__button {
    margin-bottom: 44px;
  }
  .window__button button {
    width: 216px;
    height: 54px;
    font-size: 18px;
  }
  .input__name {
    width: 453px;
    padding: 15px 0;
    margin-bottom: 20px;
  }
  .input__phone {
    width: 453px;
    padding: 15px 0;
  }
}